
body{
    background-color: rgb(240, 202, 107);
    margin-left: 40px;
    margin-right: 40px;
}

nav{
    padding-top: 40px;
    margin-left: 200px;
    margin-right: 70px;
    height:130px;
    background-color: black;
    text-align: center;
}
nav ul{
    display: inline-flex;
    list-style: none;
}

nav li{
    margin: 15px;
}
 nav a {
    color: #fff;
    margin-top: 70px;
}

.logo{
    position: absolute;
    margin-top: 0px;
    margin-left: 10;
}

nav a:hover {
    background: red;
    text-transform: uppercase;
}

.details{
    /* padding-left:35%; */
    text-align: center;
}
form{
    text-align: center;
}

.depart, a{
    color: black;
}
legend{
    color: blueviolet;
}
.main{
    color: rgb(134, 61, 8);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}
.gallery{
    text-align: center;
}
#carrer{
    text-align: left;
}
h3{
    color: blueviolet;
}